.wrapper {
  height:100%;
  position: relative;
  overflow: hidden;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.centered img {
  height: 500px;
}

.top-right {
  position: absolute;
  top:-20%;
  right:-5%;
}

@media (max-width: 640px) {
  .top-right {
    display: none;
  }
}