h1 {
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

#gallery {
  text-align: center;
  margin: 0 auto;
  position: relative;
}

#fr {
  margin-right: 6em;
}
#eng {
  margin-left: 6em;
}
.font1 {
  font-family: "Coiny", cursive;
}
.font2 {
  font-family: "Dosis", sans-serif;
}

@media screen and (min-width: 768px) {
  button {
    line-height: 2.2em;
    width: 9em;
    font-size: 1.2em;
  }
  .langs {
    clear: both;
    position: relative;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  button {
    line-height: 2.2em;
    width: 12em;
    font-size: 1.2em;
  }
  .langs {
    position: relative;
    text-align: center;
  }
}

@media all and (orientation: landscape) {
  .langs {
    clear: both;
    position: relative;
    text-align: center;
  }
}
