/* GENERAL */

:root {
  --font-testimonials: "Indie Flower", cursive;
}

body {
  background: rgba(140, 200, 95, 1);
}

/* END GENERAL */

/* NAVBAR */

#navbar {
  background: rgba(140, 200, 95, 1);
  height: 7rem;
}

#navbar h1 {
  color: #043110;
  font-family: var(--font-testimonials);
  font-weight: bold;
}

.logo {
  height: 6rem;
  margin-left: 1rem;
}

/* END NAVBAR */

/* CONTENT */

.content {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* END CONTENT */

/* TESTIMONIAL */

.icon {
  height: 30px;
  position: relative;
  top: -3px;
}

.testimonial {
  isolation: isolate;
  margin: 1rem;
}

.testimonial > p:not(.signature) {
  font-family: var(--font-testimonials);
  font-size: calc(var(--font-size) - 2px);
  font-weight: 900;
  color: black;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}

#handstand-pic {
  position: absolute;
  left: -250px;
}

#yoga-pose-pic {
  position: absolute;
  left: 540px;
  top: -70px;
}

.signature {
  font-weight: bold;
  font-size: calc(var(--font-size) - 1px);
  color: black;
  position: relative;
  text-align: center;
}

/* END TESTIMONIAL */

@media (max-width: 600px) {
  #navbar {
    height: 4rem;
  }

  .logo {
    height: 3rem;
    margin-left: 0.5rem;
  }

  .icon {
    top: -3px;
  }

  .content {
    width: 100%;
  }

  #handstand-pic,
  #yoga-pose-pic {
    display: none;
  }
}
