/* GENERAL */

body {
  background: rgba(140, 200, 95, 1);
}

/* END GENERAL */

/* NAVBAR */

#navbar {
  background: rgba(140, 200, 95, 1);
  height: 7rem;
}

#navbar h1 {
  text-align: center;
  color: #043110;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
}

.logo {
  height: 6rem;
}

/* END NAVBAR */

@media (max-width: 480px) {
  .logo {
    padding: 0;
    margin: 0;
    height: 50px;
    position: relative;
    left: 100px;
  }

  .icon {
    height: 30px;
    position: relative;
    top: -3px;
    padding-top: 10px;
  }

  .text {
    position: relative;
    padding-top: 10px;
    margin-top: 10px;
  }

  .testimonials {
    padding-top: 130px;
  }

  #deco1 {
    display: none;
  }

  #deco2 {
    display: none;
  }
}

@media (min-width: 481px) {
  .container {
    margin-top: 12px;
    position: relative;
    left: -20px;
  }

  #deco1 {
    position: absolute;
    height: 500px;
    left: -250px;
  }

  #deco2 {
    position: absolute;
    left: 540px;
    top: 70px;
  }

  .testimonials {
    position: relative;
    padding-top: 150px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    font-family: "Indie Flower", cursive;
    font-size: 24px;
    font-weight: 900;
    color: black;
    letter-spacing: 2px;
  }

  .signature {
    font-weight: bold;
    font-size: 25px;
    color: black;
    position: relative;
    text-align: center;
  }

  .icon {
    height: 30px;
    position: relative;
    top: -3px;
  }
}
