/* INTRO */

#intro {
  color: #3d8646;
  font-family: var(--font-primary);
  font-size: var(--font-size);
  margin-inline: auto;
  max-width: 810px;
  padding: 1rem;
}

#three-areas {
  text-align: center;
}

#three-areas ol {
  margin: 1rem 0;
  display: inline-block;
  text-align: left;
}

/* END INTRO */

/* MAIN */

#main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
  line-height: 1.5;
  color: #373a3c;
  font-size: calc(var(--font-size) - 2px);
  padding: 1rem;
}

#main p {
  margin-bottom: 1rem;
}

/* END MAIN */