/* #region GENERAL */

html {
  min-height: 100%;
}

body {
  background: url(../images/backgrounds/collage-large.png);
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

video,
img {
  width: 100%;
  height: auto;
  border-style: none;
}

/* #endregion GENERAL */

/* #region NAVBAR */

#navbar-main {
  background: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}

.logo {
  position: initial;
  margin: 0.75rem 0 0.75rem 0.75rem;
}

#navbar-main ul {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: none;
  font-size: var(--font-size);
  letter-spacing: 1px;
  word-spacing: 1px;
  color: #054516;
  text-shadow: 1px 1px black;
}

#navbar-main ul li a,
#navbar-main ul li a:focus,
#navbar-main ul li a:hover {
  color: #014c8c;
  font-family: "Oswald", sans-serif;
}

#navbar-main ul li a:active,
#navbar-main ul li a:hover {
  outline-width: 0;
}

.content {
  top: 5rem;
}

/* #endregion NAVBAR */

/* #region INTRO */

#intro {
  color: white;
  background: rgba(67, 200, 310, 0.8);
  font-family: var(--font-primary);
  font-size: calc(var(--font-size) - 1px);
  margin-inline: auto;
  max-width: 810px;
  text-shadow: 1px 1px black;
  letter-spacing: 2px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

#three-areas {
  text-align: center;
}

#three-areas ol {
  margin: 1rem 0;
  display: inline-block;
  text-align: left;
}

.text-secondary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* #endregion INTRO */

/* #region SOCHERRY */

#so-cherry {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.5rem 0.5rem 0 0.5rem;
  background: rgba(255, 255, 255, 0.6);
  border-top-right-radius: 10px;
}

#sclogo {
  height: 90px;
}

#sctext {
  color: rgb(76, 14, 163);
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}
/* #endregion SOCHERRY */

.modal-bg {
  background: url(../images/rain.gif);
  background-size: cover;
  opacity: 0.5;
}
