.font1 {
  font-family: "Coiny", cursive;
}
.font2 {
  font-family: "Dosis", sans-serif;
}

#formdiv {
  padding: 2em;
  text-align: center;
  margin: 0 auto;
}
form {
  display: inline-block;
  text-align: left;
}
.ques {
  font-family: "Gloria Hallelujah", cursive;
  font-size: 1.1em;
}

ul {
  line-height: 1.5em;
  padding-left: 1em;
}
li {
  list-style-type: none;
  padding-left: 1em;
}
.space {
  padding-left: 0.6em;
  font-family: "Laila", serif;
}
