#lang {
  margin-right: 1rem;
  cursor: pointer;
}

.lang-option.active {
  color: var(--font-color-nav);
}

.content {
  margin: 0 auto;
  top: 7rem;
  width: 50%;
}

label,
input {
  font-family: "Gloria Hallelujah", cursive;
  font-size: calc(var(--font-size) - 3px);
}

input[type="checkbox"] {
  margin-right: 0.25rem;
}

input[type="text"] {
  border-radius: 4px;
  padding: 0.25rem;
}

.center {
  display: grid;
  place-items: center;
}

.form-input {
  display: flex;
  justify-content: space-between;
}

.submit-btn {
  display: flex;
  justify-content: center;
}

button,
.checkbox-list {
  padding: 0.25rem;
  font-family: "Laila", serif;
  font-size: calc(var(--font-size) - 3px);
}

.checkbox-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.form-input,
.checkbox-list {
  margin-bottom: 1rem;
}
