/* GENERAL */

:root {
  --font-primary: "Marck Script", cursive;
  --font-secondary: Verdana, Geneva, sans-serif;
  --font-size: 26px;
  --font-color-nav: #3d8646;
}

@media (max-width: 640px) {
  :root {
    --font-size: 18px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: rgba(146, 222, 95, 0.5);
}

img {
  vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

.text-primary {
  font-family: var(--font-primary);
}

.text-secondary {
  font-weight: bold;
  font-style: italic;
}

.text-center {
  text-align: center;
}

.quote {
  text-align: center;
  font-family: var(--font-secondary);
}

.signature {
  font-family: var(--font-primary);
  font-size: 150%;
  padding-left: 30%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.btn-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}

.btn-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}

.btn-secondary {
  color: #373a3c;
  background-color: #fff;
  border-color: #ccc;
}

.btn-secondary:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn:focus,
.btn:hover {
  text-decoration: none;
}

.card-group {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.card-group .card {
    display: table-cell;
    vertical-align: top;
}

/* END GENERAL */

/* NAVBAR */

#navbar {
  display: flex;
  position: fixed;
  align-items: center;
  top: 0;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: var(--font-size);
  letter-spacing: 1px;
  word-spacing: 1px;
  z-index: 1000;
}

#navbar h1 {
  margin-top: 1rem;
  color: var(--font-color-nav);
  flex-grow: 1;
}

.logo {
  padding: 0;
  top: 1rem;
  left: 0.5rem;
  height: 6.5rem;
  position: fixed;
}

.content {
  position: relative;
  top: 10rem;
}

@media (max-width: 640px) {
  .logo {
    height: 3.75rem;
  }

  .content {
    top: 5rem;
  }
}

/* END NAVBAR */
