body {
  background-image: url(rain5.gif);
  background-size: cover;
}

.logomobile {
  position: relative;
  left: 40%;
}

.logo {
  display: none;
  position: absolute;
}

.blurb {
  display: none;
}

.nav {
  font-family: "Oswald", sans-serif;
  font-size: 26px;
  position: relative;
  left: 40px;
}

#about {
  position: relative;
  left: 16px;
}

.navbar-nav > li {
  padding: 0 60px;
  line-height: 45px;
  text-align: center;
}

#vidIntro {
  width: 100%;
  height: auto;
}

.modal-backdrop {
  background-image: url(rain5.gif);
}

.fuckoff {
  background: rgba(94, 175, 5, 0.8);
}

.eatit {
  background: rgba(67, 250, 245, 0.8);
}

.modal-transparent {
  background: transparent;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modImage {
  width: 100%;
  height: auto;
}

.fuckoff {
  padding-bottom: 69px;
}

.card-block {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.card-footer {
  text-align: center;
}

.butt {
  background: rgba(94, 175, 5, 0.8);
}

.ass {
  background: rgba(67, 250, 245, 0.8);
}

.break {
  clear: both; /*  <div class="break"></div>  */
}

#sclogodiv {
  position: relative;
  top: 500px;
  float: left;
}

#sclogo {
  height: 70px !important;
  padding: 0;
  margin: 0;
  position: relative;
}

#sclink {
  text-decoration: none;
}

#sctext {
  position: relative;
  top: -5px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 8px;
}

.emailbutt {
  display: none;
}
