@charset "utf-8";
body {
  background-image: url(rain.gif);
  background-size: cover;
}

.blurb {
  display: none;
}

nav {
  float: right;
}

.nav {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}

#about {
  position: relative;
  top: 241px;
  left: -70px;
}

.navbar-nav > li {
  padding-left: 10px;
  padding-right: 10px;
}

#vidIntro {
  width: 100%;
  height: auto;
}

.modal-backdrop {
  background-image: url(rain.gif);
  background-size: cover;
}

.fuckoff {
  background: rgba(94, 175, 5, 0.8);
}

.eatit {
  background: rgba(67, 250, 245, 0.8);
}

.modal-transparent {
  background: transparent;
}

.modal-transparent .modal-content {
  background: transparent;
}

.modImage {
  width: 100%;
  height: auto;
}

.fuckoff {
  padding-bottom: 69px;
}

.card-block {
  text-align: center;
  font-family: "Oswald", sans-serif;
}

.card-footer {
  text-align: center;
}

.butt {
  background: rgba(94, 175, 5, 0.8);
}

.ass {
  background: rgba(67, 250, 245, 0.8);
}

.break {
  clear: both; /*  <div class="break"></div>  */
}

#sclogodiv {
  position: relative;
  top: 316px;
  left: -10px;
  float: left;
}

#sclogo {
  height: 50px !important;
  padding: 0;
  margin: 0;
  position: relative;
  top: -11px;
  left: -10px;
}

#sclink {
  text-decoration: none;
}

#sctext {
  position: relative;
  top: -5px;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 8px;
}

.emailbutt {
  display: none;
}
