.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

video,
img {
  width: 100%;
  height: auto;
  border-style: none;
}

#navbar-main ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
