body {
  text-align: center;
  background: url(../images/backgrounds/leaves-border.png) repeat,
    -webkit-radial-gradient(center, ellipse cover, rgba(0, 36, 0, 1) 0%, rgba(0, 87, 0, 1) 17%, rgba(
            0,
            138,
            0,
            1
          )
          33%, rgba(82, 177, 82, 1) 67%, rgba(131, 199, 131, 1) 83%, rgba(180, 221, 180, 1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: url(../images/backgrounds/leaves-border.png) repeat,
    radial-gradient(
      ellipse at center,
      rgba(0, 36, 0, 1) 0%,
      rgba(0, 87, 0, 1) 17%,
      rgba(0, 138, 0, 1) 33%,
      rgba(82, 177, 82, 1) 67%,
      rgba(131, 199, 131, 1) 83%,
      rgba(180, 221, 180, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  background-size: contain;
}

#navbar h1 {
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

video {
  margin: 1em 0 1em 0;
  width: min(50vw, 640px);
}

footer {
  position: relative;
  top: 10rem;
}
