#navbar h1 {
  padding-right: 5rem;
}

#vip-logo {
  position: relative;
  height: 74vh;
  float: left;
}

.section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 75vh;
}

.section > span {
  color: rgba(240, 248, 255, 1);
  font-size: 4.3em;
  position: relative;
}

#section-1 {
  background-image: url(../images/leaping-girl.png);
  text-align: center;
}

#section-1 span:first-of-type {
  top: 0.17em;
}

#section-1 span:last-of-type {
  left: 5.2em;
  top: 0.6em;
}

#section-2 {
  background-image: url(../images/relaxing-guy-2.png);
  text-align: right;
}

#section-2 span:first-of-type {
  left: -0.5em;
  top: 0.2em;
}

#section-3 {
  background-image: url(../images/relaxing-guy-1.png);
}

#section-3 span:first-of-type {
  top: 0.3em;
  left: 7vw;
}

#section-3 span:last-of-type {
  top: 0.45em;
  left: 16vw;
}

#section-4 {
  background-image: url(../images/beach.png);
  text-align: center;
}

#section-4 span:first-of-type {
  top: 0.3em;
  left: -1.2em;
}

#section-4 span:last-of-type {
  top: 16vh;
  left: 1em;
}

#section-5 {
  background-image: url(../images/guru.png);
  background-position: right top;
}

#section-5 span:first-of-type {
  top: 25vh;
  left: 1em;
}

#section-5 span:last-of-type {
  top: 25vh;
  left: 1em;
}

#info {
  height: 18vh;
  text-align: center;
  background-color: #000;
}

#info a {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  #navbar h1 {
    text-align: right;
    padding-right: 0;
  }

  .section {
    height: 26vh;
  }

  .section > span {
    font-size: 2em;
  }

  #section-1 {
    text-align: left;
  }

  #vip-logo {
    height: 25vh;
    top: 0.2em;
    left: 0.3em;
  }

  #section-1 span:last-of-type {
    top: 0.2em;
    left: 0.9em;
  }

  #section-2 br:not(:nth-child(2n)) {
    display: none;
  }

  #section-3 span:first-of-type {
    top: 0.4em;
    left: 7vw;
  }

  #section-3 span:last-of-type {
    top: 0.45em;
    left: 8vw;
  }

  #section-3 span:last-of-type {
    top: 2vh;
    left: 1.5em;
  }

  #section-4 span:first-of-type {
    top: 1.3em;
  }

  #section-4 span:last-of-type {
    top: 7vh;
  }

  #section-5 span:first-of-type {
    top: 1.6em;
  }

  #section-5 span:last-of-type {
    top: 2em;
  }

  #info {
    height: 18vh;
  }

  #info a {
    font-size: 1em;
  }
}
